<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jh.SimpleBoard.mapper.BoardMapper">

    <!-- 게시글 작성 -->
    <insert id="save" parameterType="Board">
        INSERT INTO BOARD
        (
            MEMBER_NO,
            TITLE,
            CONTENT,
            REG_DATE
        )
        VALUES
        (
            #{memberNo},
            #{title},
            #{content},
            NOW()
        )
        <selectKey keyProperty="boardNo" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 게시글 조회 -->
    <select id="getBoard" parameterType="long" resultType="Board">
        SELECT
            B.BOARD_NO,
            A.MEMBER_NO,
            A.MEMBER_NAME,
            B.TITLE,
            B.CONTENT,
            B.COMMENT_CNT,
            B.LIKE_CNT,
            B.REG_DATE
        FROM MEMBER A INNER JOIN BOARD B ON A.MEMBER_NO = B.MEMBER_NO
        WHERE BOARD_NO = #{boardNo}
    </select>
</mapper>