<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jh.SimpleBoard.mapper.BoardMapper">

    <!-- 게시물 작성 -->
    <insert id="save" parameterType="Board">
        INSERT INTO BOARD
        (
            MEMBER_NO,
            TITLE,
            CONTENT,
            REG_DATE
        )
        VALUES
        (
            #{memberNo},
            #{title},
            #{content},
            NOW()
        )
    </insert>
</mapper>