<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jh.SimpleBoard.mapper.CommentMapper">

    <!-- 댓글 작성 -->
    <insert id="save" parameterType="Comment">
        INSERT INTO COMMENT
        (
            BOARD_NO,
            MEMBER_NO,
            CONTENT,
            REG_DATE
        )
        VALUES
        (
            #{boardNo},
            #{memberNo},
            #{content},
            NOW()
        )
        <selectKey keyProperty="commentNo" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 댓글 조회 -->
    <select id="getComment" parameterType="long" resultType="Comment">
        SELECT
            COMMENT_NO,
            BOARD_NO,
            MEMBER_NO,
            CONTENT,
            REG_DATE
        FROM COMMENT
        WHERE COMMENT_NO = #{commentNo}
    </select>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment" parameterType="long">
        DELETE FROM COMMENT
        WHERE COMMENT_NO = #{commentNo}
    </delete>

    <!-- 게시글에 있는 모든 댓글 삭제 -->
    <delete id="deleteBoardComment" parameterType="long">
        DELETE FROM COMMENT
        WHERE BOARD_NO = #{boardNo}
    </delete>
</mapper>
