<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jh.SimpleBoard.mapper.LikeMapper">
    <!-- 좋아요 조회 -->
    <select id="getLike" parameterType="Like" resultType="Like">
        SELECT
            LIKE_NO,
            BOARD_NO,
            MEMBER_NO,
            LIKE_YN
        FROM LIKE_TABLE
        WHERE BOARD_NO = #{boardNo} AND MEMBER_NO = #{memberNo}
    </select>

    <!-- 좋아요 추가 -->
    <insert id="insertLike" parameterType="Like">
        INSERT INTO LIKE_TABLE
        (
            BOARD_NO,
            MEMBER_NO,
            LIKE_YN
        )
        VALUES
        (
        #{boardNo},
        #{memberNo},
        #{likeYn}
        )
    </insert>

    <!-- 좋아요 업데이트 -->
    <update id="updateLike" parameterType="Like">
        UPDATE LIKE_TABLE
        SET
            LIKE_YN = #{likeYn}
        WHERE LIKE_NO = #{likeNo}
    </update>
</mapper>
