<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jh.SimpleBoard.mapper.MemberMapper">

    <!-- 회원 가입 -->
    <insert id="save" parameterType="Member">
        INSERT INTO MEMBER
            (
             USER_ID,
             PASSWORD,
             REG_DATE
             )
        VALUES
            (
            #{userId},
            #{password},
            NOW()
            )
    </insert>
</mapper>
